*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 40rem;
    background-size: cover;
    background-position: 0 0;
    background-attachment: fixed;
    background-color: rgba(42, 126, 126, 0.795);
    background-image: linear-gradient(to right top, rgba(0, 0, 0, .8), rgba(0, 0, 0, .7)), url(../img/bg.jpg);
    font-size: 62.5%;
    font-weight: 300;
    font-family: 'Open Sans Condensed',
        sans-serif;
    position: relative;
    z-index: 1;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.container__header {
    font-size: 3rem;
    padding: .5rem 1rem;
    background-color: rgb(0, 0, 0);
    border-radius: 1px;
    color: rgb(207, 154, 20);
}


.container__text {
    font-size: 2rem;
    margin-top: -6rem;
    padding: .5rem;
    background-color: whitesmoke;
}

.container__finder {
    margin-top: -6rem;
}

.container__input {
    border: 0;
    border-bottom: 2px dashed rgb(207, 154, 20);
    background-color: inherit;
    font-family: inherit;
    padding: .5 rem;
    transition: all .5s;
    font-size: 2rem;
    color: white;
    margin-right: 2rem;
}

.container__input:focus {
    border-bottom: 2px solid rgba(245, 245, 245, 0.596);
    transition: all .5s;
    color: rgb(207, 154, 20);
}

.container__btn {
    background-color: inherit;
    border: 1px solid rgb(207, 154, 20);
    padding: .6rem 1.5rem;
    border-radius: 3px;
    font-family: inherit;
    font-size: 1.5rem;
    font-weight: 400;
    color: white;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 4px;
    transition: all .4s;
}

.container__btn:hover {
    background-color: rgb(207, 154, 20);
    border-color: rgb(207, 154, 20);
    transition: all .4s;
    transform: translateY(-.25rem);
}

.container__result {
    background-color: transparent;
    padding: .6rem;
    margin-top: -8rem;
}
.result {
    color: black;
    font-size: 1.25rem;
}

.result:not(:last-child) {
    margin-right: 2rem;
}

.answer {
    font-size: 1rem;
    color: rgb(173, 130, 20);
}

a {
    color: rgb(173, 130, 20);
}

a:hover {
    color: rgb(105, 80, 16);
}

.container__dialog {
    width: 30%;
    height: 60%;
    padding: 1rem;
    border-radius: .1rem;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    flex-direction: column;
    background-color: rgb(6, 54, 54);
    z-index: 10;
}

.container-dialog__header {
    margin: 0 auto;
}

.container-dialog-h3 {
    text-align: center;
    margin-bottom: 2.5rem;
    font-size: 1.85rem;
    font-style: italic;
    color: rgb(173, 130, 20);
}

.container-content__main {
    font-weight: bold;
    font-size: 1.4rem;
    margin-bottom: 1.5rem;
    color: whitesmoke;
}

.container-content__sub {
    font-size: 1.25rem;
    color: rgb(170, 168, 168);
    line-height: 1.7;
}

.fa-times {
    cursor: pointer;
    font-size: 1rem;
    margin-bottom: 1rem;
    color: whitesmoke;
    display: inline-block;
    width: 5%;
}